body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "JetBrains Mono", monospace;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-dim);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
