body {
  background-color: var(--color-bg);
  color: var(--color-tx);
  font-family: var(--font-mono);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-tx-3);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-cy);
}
