@import "tailwindcss";

@theme {
  --color-bg: #09090b;
  --color-panel: #0f0f13;
  --color-primary: #00f0ff;
  --color-secondary: #ff00ff;
  --color-text: #e0e0e0;
  --color-dim: #52525b;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-dim);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
